* {
    margin: 0;
    padding: 0;
}

//imports
@import "./utilities/variables";
@import "./utilities/extend";
@import "./utilities/mixin";
@import "./partials/main-bar";
@import "./partials/main-contacto";
@import "./partials/main-estilos";
@import "./partials/main-fabrica";


/*estilos navbar*/
.encabezado {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: $color-secundario;
    position: sticky;
    z-index: 1;
    top: 0;

    .imagen-encabezado {
        display: flex;
        justify-content: center;
        width: 7%;
        animation: bounceIn;
        animation-duration: 2s;
    }

    .bg-propio {
        background-color: $color-secundario;
    }



    .nav-item a {
        color: beige;

        &:hover {
            opacity: 70%;
        }
    }

}

/*estilos body index*/
.main-index {

    @extend %fondo;

    h1 {
        color: white;
        text-align: center;
        font-family: 'Trispace', sans-serif;
        background-color: black;
        opacity: 0.8;
        font-size: 4rem;
    }

    h2 {
        grid-area: titulo2;
        color: white;
        text-align: center;
        font-family: 'Trispace', sans-serif;
        background-color: black;
        grid-area: titulo2;
        color: white;
        text-align: center;
        font-size: 3rem;

 
    }

.divisor{
     
    display: grid;
    grid-template-areas: "img texto";
    img {
           grid-area: img;
            margin-left: 30%;
            margin-top: 10%;
            margin-bottom: 10%;
            margin-right: 10%;
            width: 80%;

        }

        p {
            grid-area: texto;
            justify-self: center;
            background-color: black;
            opacity: 0.5;
            color: white;
            margin-left: 10%;
            margin-top: 10%;
            margin-bottom: 10%;
            margin-right: 10%;
        }
    }
}

/* estilo footer*/
footer {

    background-color: $color-tres;
    color: white;
    font-family: 'Trispace', sans-serif;
    display: grid;
    grid-template-areas: "logo red1 red2 firma";


    .imgFooter {
        width: 3%;
        grid-area: logo;
    }

    .redes {
        grid-area: red1;
        width: 3%;
    }

    .redes2 {
        width: 3%;
        grid-area: red2;
    }

    p {
        grid-area: firma;
    }
}