/* estilos html estilos*/

@import "../utilities/extend";
@import "../utilities/mixin";

main {
   @extend %fondo;
   .titulo {
      @extend %estilo-titulo;
   }


display: flex;
flex-direction: column;
align-items: center;



   .estilos {
      display: grid;
      grid-template-areas: "titulo titulo"
         "img parrafo"
         "descriptores descriptores";

      width: 80%;
      margin: 15px;
      height: auto;
      background-color: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 6px;
      inset: 0 0 6px;

      h2 {
         grid-area: titulo;
         @extend %estilo-titulo2;
      }

      p {
         grid-area: parrafo;
         color: white;
         margin: 5px;

      }

      img {
         grid-area: img;
         width: auto;
         height: auto;
      }

      .descriptores {
         grid-area: descriptores;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-left: 40%;

         .ibu {
            @extend %estilo-texto;
         }

         .alcohol {
            @extend %estilo-texto;
         }

         &:hover {
            transform: scale(1.1);
            transition: 0.2s;


         }

      }
   }
}