@import "../utilities/mixin";
@import "../utilities/extend";

.main-bar {
    @include flexColumn;
    background-image: url("../images/fondobar.png");
    background-repeat: no-repeat;
    background-size:contain ;
    background-size: 100% 100%;

    h1 {
        @extend %estilo-titulo;
    }


    p {
        text-align: center;
        background-color: black;
        opacity: 0.8;
        color: white;
        width: 60%;
        margin: 40px;
        padding: 30px;
        border-radius: 2%;
        font-size: 1rem;

    }
     iframe{
        width: 60%;
        height: 80%;
     }
    .horarios{
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        background-color: black;
        opacity: 0.8;
        font-size: 1rem;
        margin-top: 5%;
        border-radius: 2%;
    }
    a{
        display: flex;
        justify-content: center;
        img{
            width: 20%;
            border-radius: 100%;
        }
    }
}