@import "../utilities/mixin";
@import "../utilities/extend";

.main-bar {
    @include flexColumn;
    @extend %fondo;

    h1 {
        @extend %estilo-titulo;
    }

    img {
        margin-top: 20px;
        padding: 20px;
    }

    p {
        text-align: justify;
        background-color: black;
        opacity: 0.7;
        color: white;
        margin: 40px;
        padding: 30px;
        width: 550px;
        border-radius: 2%;
    }
}