//queries para celular
@media screen and (max-width: 480px){
    .divisor{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        }
    

    .estilos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    .div-fabrica{
        p{
            width:80%;
        }
        .video{
            width: auto;
        }
    }
}
 //queries para tablets
@media (max-width: 992px) and  (min-width:480px){
    .estilos{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;

    }
    .divisor{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    .video{
        width: auto;
    }
}